*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.header{
    background-color: #00535F;
    padding: 10px 0;
}
.header-content{
    display: flex;
    align-items: center;
}
.left-header-content{
    display: flex;
    justify-content: flex-end;
    padding: 0 47px;
}
.left-header-content span{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}
.right-header-content{
    display: flex;
    justify-content: flex-start;
    padding: 0 2px;
}
.header-button{
    border: none;
    background-color: #fff;
    color: #00535F;
    font-size: 14px;
    font-weight: 800;
    padding: 7px 15px;
    display: inline-block;
    padding-right: 83px;
    border-radius: 7px;
}
.navbar-container{
    max-width: 1385px;
    margin: auto;
}
.navbar-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar-boutique-name{
    margin-top: 5px;
    font-size: 10px;
    font-weight: 700;
}
.navbar-boutique-qualities{
    margin-top: -8px;
    font-size: 5px;
}
.navbar-nav{
    display: flex;
    width: 100%;
    padding: 0 20px;
}
.nav-item{
    flex: 1;
    text-align: center;
}
.sculpting-section{
    background-color: #00535F;
}
.sculpting-image{
    height: 393px;
    display: flex;
    align-items: center;
}
.sculpting-image img{
    width: 100%;
}
.nav-pills{
    max-width: 987px;
    margin: auto;
    padding: 49px 0;
    margin-bottom: 0;
}
.nav-pills .nav-link.active{
    background-color:#00535F ;
}
.nav-pills .nav-link {
    color: black;
    width: 100%;
}
.sci-tech-header{
    text-align: center;
    padding-top: 24px;
}
.sci-tech-header strong{
    font-size: 36px;
    font-weight: bold;
}
.sci-tech-header p{
    font-size: 12px;
    font-weight: bold;
    color: red;
}
.sci-tech-video-section{
    max-width: 1176px;
    padding: 20px 0 55px 0;
}
.sci-tech-video-right {
    padding: 3px;
    display: flex;
    flex-direction: column;
}
.sci-tech-video-right strong{
    padding: 25px 0 20px 0;
    font-size: 18px;
    font-weight: bold;
}
.sci-tech-video-right p{
    font-size: 18px;
    padding-bottom: 30px;
    line-height: 24px;
}
.sci-tech-video-left img{
    width: 100%;
    height: 100%;
}
.sci-tech-button{
    padding: 8px 0;
    max-width: 66%;
    background-color: #000000;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
}
.sci-tech-machine-section{
    max-width: 1195px;
    padding: 55px 0 45px 0;
}
.machine-section-left{
    padding: 0 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.machine-sec-list{
    line-height: 45px;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 30px;
    margin-bottom: 0;
}
.machine-section-right{
    display: flex;
    justify-content: center;
}
.sci-tech-fats-header{
    max-width: 799px;
    margin: auto;
    text-align: center;
    padding-top: 66px;
}
.sci-tech-fats-header h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}
.sci-tech-container{
    max-width: 1424px;
    padding: 45px 12px;
}
.sci-tech-fats-items{
    padding: 0 35px;
    flex-basis: 25%;
}
.sci-tech-fats-items p{
    padding-top: 30px;
    line-height: 21px;
}
.sci-tech-feature-header{
    max-width: 799px;
    margin: auto;
    text-align: center;
}
.sci-tech-feature-header h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}
.sci-tech-feature-content{
    max-width: 1031px;
    margin: auto;
    padding-top: 22px;
}
.sci-tech-feature-items{
    display: flex;
    padding: 18px 0;
}
.sci-tech-feature-icon{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #00535F;
    line-height: 100px;
}
.sci-tech-feature-icon svg{
    width: 100px;
}
.feature-items-content{
    padding-left: 44px;
}
.feature-items-content strong{
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}
.feature-items-content p{
    line-height: 21px;
}
.sci-tech-delievery-section{
    max-width: 1176px;
    padding: 33px 0 65px 0;
}
.sci-tech-delievery-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 32px;
}
.sci-tech-common-header{
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}
.sci-tech-common-content{
    line-height: 20px;
}
.sci-tech-delievery-right{
    padding: 0 3px;
}
.sci-tech-delievery-right img{
    width: 100%;
}
.sci-tech-ice-section{
    max-width: 1176px;
    padding: 65px 0 77px 0;
}
.sci-tech-ice-left{
    padding: 0 3px;
}
.sci-tech-ice-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sci-tech-ice-content{
    padding: 32px 0;
}
.sci-tech-ice-left img{
    width: 100%;
}
.sci-tech-free-consult-button{
    text-align: center;
}
.sci-tech-free-consult-button button{
    background-color: black;
    width: 394px;
    padding: 14px 0 10px 0;
    color: #fff;
    border-radius: 9px;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
}
.sci-tech-sources{
    display: flex;
    justify-content: center;
    padding: 95px 0 105px 0;
}
.sci-tech-source-items{
    padding: 0 45px;
}
.pri-header{
    text-align: center;
    padding-top: 60px;
}
.pri-header strong{
    font-size: 36px;
    font-weight: bold;
}
.pri-bold-text{
    text-align: center;
    padding: 20px 0 33px 0;
}
.pri-bold-text strong{
    display: block;
    line-height: 32px;
}
.pri-normal-text{
    padding: 33px 0 25px 0;
    text-align: center;
}
.pri-normal-text p{
    font-size: 18px;
}
.pri-cycles-section{
    max-width: 1432px;
}
.pri-cycle-item{
    width: 343px;
    height: 343px;
    margin: 0 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pri-cycle-title{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding-top: 10px;
}
.pri-cycle-content{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.pri-cycle-content::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    color: #fff;
    bottom: 0;
    left: 0;
    background-color: #fff;
}
.pri-cycle-content span{
    font-size: 24px;
    color: #fff;
    padding: 30px 7px;
}
.cycle-one{
    background-color: #7EB6DE;
}
.cycle-two{
    background-color: #5E9ECC;
}
.cycle-three{
    background-color: #418DC4;
}
.cycle-four{
    background-color: #0564A8;
}
.pri-free-consult-button{
    text-align: center;
    padding: 30px 0 45px 0;
}
.pri-free-consult-button button{
    background-color: black;
    width: 392px;
    padding: 14px 0 10px 0;
    color: #fff;
    border-radius: 9px;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
}
.pri-boxes-section{
    max-width: 1310px;
    display: flex;
    margin: auto;
    padding: 54px 0;
}
.pri-boxes-items{
    padding: 0;
}
.pri-box-one{
    padding: 92px 23px 30px 20px;
    background-color: #FF6161;
    text-align: center;
    flex-basis: 18%;
}
.pri-box-one p{
    font-weight: bold;
    color: #fff;
}
.pri-box-two{
    position: relative;
    flex-basis: 18%;
}
.pri-box-two-image img{
    width: 100%;
}
.pri-box-two-content{
    position: absolute;
    padding: 0 20px;
    top: 35%;
}
.pri-box-three{
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    padding: 0 45px;
    flex-basis: 28%;
}
.pri-box-three p{
    text-align: center;
}
.pri-box-four{
    flex-basis: 18%;
}
.pri-box-four-content{
    position: relative;
}
.pri-box-four-content img{
    width: 100%;
}
.pri-box-four-content::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0.8;

}
.pri-box-five{
    background-color:#FF6161 ;
    padding: 0 20px 0 25px;
    display: flex;
    align-items: center;
    flex-basis: 18%;
}
.pri-box-five p{
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
}
.pri-conditions-section{
    max-width: 714px;
    margin: auto;
}
.pri-conditions-title strong{
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}
.pri-conditions-content{
    margin-bottom: 0;
    padding: 10px 0 15px 20px;
}
.pri-conditions-content li{
    padding-bottom: 30px;
}
.treat-header{
    text-align: center;
    max-width: 689px;
    margin: auto;
}
.treat-header strong{
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 0;
}
.treat-header-text{
    font-size: 18px;
    font-weight: bold;
    padding-top: 22px;
}
.treat-images-section{
    padding-top: 38px;
}
.treat-woman-image img{
    width: 100%;
}
.treat-man-image{
    padding-left: 30px;
}
.treat-man-image img{
    width: 100%;
}
.treat-free-consult-button{
    text-align: center;
    padding: 17px 0 45px 0;
}
.treat-free-consult-button button{
    background-color: black;
    width: 392px;
    padding: 14px 0 10px 0;
    color: #fff;
    border-radius: 9px;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
}
.treat-chin-section{
    padding-top: 61px;
}
.treat-chin-header{
    text-align: center;
}
.treat-chin-header strong{
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 0;
}
.treat-chin-content .container{
    max-width: 855px;
    padding: 20px 0;
}
.treat-chin-content .col-md-6{
    padding: 0 7px;
}
.faqs-header{
    text-align: center;
    padding-top: 60px;
}
.faqs-header strong{
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
}
.faqs-content{
    max-width: 938px;
    margin: auto;
    padding: 20px 0 73px 0;
}
.faqs-frequently-section{
    padding: 35px 0;
}
.faqs-frequently-title strong{
    font-size: 28px;
    font-weight: bold;
    line-height: 37px;
}
.faqs-frequently-content{
    padding: 20px 0 36px 25px;
}
.accordion-item{
    border: none;
    padding-bottom: 33px;
}
.accordion-button{
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    color: black;
    word-spacing: -1px;
}
.accordion-button:focus {
    z-index: 3;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}
.accordion-button::after {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    content: "";
    border-top: 8px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 50%;
    background-repeat: no-repeat;
    background-size: 1.25rem;
}
.accordion-button:not(.collapsed) {
    color: black;
    background-color: #fff;
    box-shadow: none;
}
.accordion-body{
    padding: 5px 0;
}
.team-header{
    text-align: center;
    padding-top: 19px;
}
.team-header strong{
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
}
.team-section{
    max-width: 822px;
    margin: auto;
    padding: 49px 0;
}
.team-information-content{
    padding: 26px 0;
}
.team-name{
    font-weight: bold;
    text-align: center;
}
.teams-detail-one{
    padding-top: 16px;
    margin-bottom: 0;
}
.teams-detail-two{
    padding-top: 22px;
    margin-bottom: 0;
    line-height: 22px;
}
.teams-detail-three{
    padding-top: 18px;
    margin-bottom: 0;
}
.team-information{
    padding-top: 29px;
}
.team-free-consult-button{
    text-align: center;
    padding: 17px 0 93px 0;
}
.team-free-consult-button button{
    background-color: black;
    width: 392px;
    padding: 14px 0 10px 0;
    color: #fff;
    border-radius: 9px;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
}
.footer{
    background-color: #002429;
    padding: 30px 0;
}
.footer-container{
    max-width: 35%;
    margin: auto;
}
.footer-list{
    display: flex;
    align-items: center; 
    padding-bottom: 15px;  
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 19px;
}
.footer-items{
    flex: 1;
    text-align: center;
}
.slash{
    position: relative;
}
.slash:after{
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
}
.footer-items a{
    color: #fff;
    font-size: 14px;
}
.footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-icons i{
    font-size: 36px;
    color: #fff;
    padding: 0 10px;
}
.footer-bottom{
    background-color: #fff;
    color: black;
    font-size: 19px;
    text-align: center;
    padding: 10px 0;
}